@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Questrial&display=swap');

@import 'variables.css';
@import 'design-system.css';
@import 'base.css';
@import 'components/animations.css';
@import 'components/inputs.css?v=116';
@import 'components/buttons.css';
@import 'components/notifications.css?v=116';
@import 'components/cards.css';
@import 'components/modals.css';
@import 'components/tables.css';
@import 'components/sidebar.css';
@import 'components/sidebar-drilldown.css';
@import 'components/layout.css';
@import 'components/dashboard.css';
@import 'components/auth.css';
@import 'components/bank_transactions.css';
@import 'components/payments.css';